<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>QR</title>
</head>
<body>
  <div>
      <div>
        <h1><%= qr_text %></h1>
      <img alt="QR" src="<%= qr_image %>"/>
  </div>
</body>
</html>
